{% extends 'base.html' %}
{% block title %}Payment Methods - EG Cash{% endblock %}
{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="fw-bold mb-4 text-center">Payment Methods</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <h5 class="mb-3">We support a wide range of payout options:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">VISA</li>
              <li class="list-group-item">PayPal</li>
              <li class="list-group-item">Amazon</li>
              <li class="list-group-item">PUBG</li>
              <li class="list-group-item">PSN</li>
              <li class="list-group-item">Google Play</li>
              <li class="list-group-item">PayTM</li>
              <li class="list-group-item">More coming soon...</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 